body,td  {font-size:9pt; font-family:돋움,arial; text-decoration:none; color: #655240; font-weight:normal; line-height: 13pt;
	scrollbar-face-color:#f7f7f7;
	scrollbar-shadow-color:#dfdfdf;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: A1A1A1;
		}

.path {
	font-size: 8pt;
	color: #666666;
	}

.ft1 {font-size: 9pt;line-height: 145%;letter-spacing: 0px;color: #686868;}
    .ft1  a:link {color: "#525252"; text-decoration: none; }
    .ft1  a:visited {color: "#525252"; text-decoration: none}
    .ft1  a:hover { color: "#AC8660"; text-decoration: none }

.ft2 {
	font-size: 9pt;
	color: #525252;
	line-height: 145%;
	letter-spacing: -1px;
}
    .ft2  a:link {color: "#525252"; text-decoration: none; }
    .ft2  a:visited {color: "#525252"; text-decoration: none}
    .ft2  a:hover { color: "#798BAE"; text-decoration: none }

.h1 {font-size: 9pt;color: #525252;line-height: 145%;}
    .h1  a:link {color: "#525252"; text-decoration: none; }
    .h1  a:visited {color: "#525252"; text-decoration: none}
    .h1  a:hover { color: "#6AB6CF"; text-decoration: none }

.frm {font-size: 9pt;color: #333333;border: 1pt solid #999999;}

.bd1 {font-size: 9pt;line-height: 145%;border-top: 1px solid #CCCCCC;border-right: 1pt solid #CCCCCC;border-bottom: 1pt solid #CCCCCC;border-left: 1pt solid #CCCCCC;}

.mft {
	font-size: 9pt;
	line-height: 145%;
	color: #686868;
	letter-spacing: -1pt;
	word-spacing: -1pt;
	font-family: "돋움";
}

.sft {font-size: 8pt;color: #333333;line-height: 145%;}

.lp {font-size: 9pt;	line-height: 140%;color: #333333;padding-left: 15px;}
    .lp  a:link {color: "#666666"; text-decoration: none; }
    .lp  a:visited {color: "#666666"; text-decoration: none}
    .lp  a:hover { color: "#006CFF"; text-decoration: none }

.bg1 {font-size: 9pt;line-height: 145%;	color: #efefef;background-color: #f7f7f7;letter-spacing: -1px;}
    .bg1  a:link {color: "#333333"; text-decoration: none; }
    .bg1  a:visited {color: "#333333"; text-decoration: none}
    .bg1  a:hover { color: "#F29317"; text-decoration: none }

.txt1 {font-size: 9pt;	line-height: 145%;color: #42484e;letter-spacing: -1px;text-align: justify;padding: 10px 5px 5px;vertical-align:top;}
    .txt1  a:link {color: "#333333"; text-decoration: none; }
    .txt1  a:visited {color: "#333333"; text-decoration: none}
    .txt1  a:hover { color: "#798BAE"; text-decoration: none }

.txt2 {	font-size: 9pt;	line-height: 145%;	color: #585757;	text-align: justify;	padding: 5px;	vertical-align:top;	letter-spacing: -1px;}
    .txt2  a:link {color: "#333333"; text-decoration: none; }
    .txt2 a:visited {color: "#333333"; text-decoration: none}
    .txt2  a:hover { color: "#798BAE"; text-decoration: none }

.bd2 {font-size: 9pt;border: 2px solid #FFFFFF;}


.ap5 {font-size: 9pt;padding: 5px;color: #333333;	line-height: 145%;}
    .ap5  a:link {color: "#333333"; text-decoration: none; }
    .ap5 a:visited {color: "#333333"; text-decoration: none}
    .ap5  a:hover { color: "#798BAE"; text-decoration: none }

.ap3 {font-size: 9pt;padding: 3px;color: #333333;	line-height: 145%;}
    .ap3  a:link {color: "#333333"; text-decoration: none; }
    .ap3 a:visited {color: "#333333"; text-decoration: none}
    .ap3  a:hover { color: "#798BAE"; text-decoration: none }


.ap10 {font-size: 9pt;line-height: 145%;color: #333333;padding: 10px;}

.noti {	font-size: 9pt;	color: "#2D2E2E";	line-height: normal;letter-spacing: -1px;}
    .noti  a:link {color: "#2D2E2E"; text-decoration: none; }
    .noti  a:visited {color: "#2D2E2E"; text-decoration: none}
    .noti  a:hover { color: "#0655A5"; text-decoration: none }

.ul {font-size: 9pt;	color: #6B696B;	text-decoration: underline;}
    .ul   a:link {color: "#6B696B"; text-decoration: none; text-decoration: underline; }
    .ul   a:visited {color: "#6B696B"; text-decoration: none; text-decoration: underline; }
    .ul   a:hover { color: "#FC9B00"; text-decoration: none }
.tit1 {
	font-size: 12pt;
	line-height: 145%;
	color: #333333;
	letter-spacing: -0.5px;
	font-family: "Times New Roman", "Times", "serif";


}
.root {
	FONT-SIZE: 8.5pt; COLOR: #7f7f7f; FONT-FAMILY: "돋움", "돋움체"; LETTER-SPACING: -1px
}
.wft {	font-size: 9pt;	color: #ffffff;	line-height: normal;	letter-spacing: -1px;}
    .wft  a:link {color: "#ffffff"; text-decoration: none; }
    .wft  a:visited {color: "#ffffff"; text-decoration: none}
    .wft  a:hover { color: "#FC9B00"; text-decoration: none }
